<%- include('../partials/head') %>
<body>
    <main>

        <%- include('../partials/background') %>

        <a href="<%-"/"%>"><img class="logo" src="/assets/logo.svg" alt="logo"></a>
        <h1>atualize ideias e informações em 5 minutos.</h1>
        <h2>tudo que você precisa saber para começar seu dia bem e informado</h2>
        <p>noticias sobre o universo Rocketseat, e tudo o que precisa para começar o dia melhor.</p>
        <p>perfeito para se preparar para codar ☕</p>
        <form action="/" method="POST">
            <label for="email">Insira seu e-mail:</label>
            <div>
                <input id="email" name="email" type="email" placeholder="oi@rocketseat.com">
                <button class="send-email" type="submit" title="Enviar email">
                    <img src="/assets/send.svg" alt="button_enviar" >
                </button>
                <div class="input-focus"></div>
                <a href="/emails">
                    <div class="list-emails">
                        <div class="more-options">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        Lista de Emails
                    </div>
                </a>
            </div>
        </form>
        <a class="read-first" href="#">
            deixe-me ler primeiro
            <img src="assets/arrow-right.svg" alt="arrow-right">
        </a>
    </main>

    <% if (modal) { %>
        <div class="modal-alert modalSucess">
            <div class="modal-content">
                <!-- <span>x</span> -->
                <div>
                    <img src="/assets/check.gif" alt="check_gif">
                    <p>Email enviado com sucesso!</p>
                </div>
                <a href="/">
                    <button class="modal-ok">Ok</button>
                </a>
            </div>
        </div>
    <% } %>

    <script src="javascripts/index.js"></script>
</body>
</html>